button()
  border: none 0
  background: none
  font-size: 24px
  color: silver
  top: 6px
  right: 6px

  &:hover
    color: gray

.markdown-textarea

  .textarea-container
    position: relative

    > button 
      position: absolute
      button()

  .overlay
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1

    > button
      button()
      position: fixed
      z-index: 1
