button()
  border: none 0
  background: none
  font-size: 24px
  color: silver
  position: absolute
  top: 6px
  right: 6px

  &:hover
    color: gray

.markdown-textarea

  .textarea-container
    display: inline-block
    position: relative

    > button 
      button()

  .overlay
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

    > button
      button()
      z-index: 1
